Q1. List any five functions of the pandas library with execution?

1) pd.read_csv()

In [8]:
import pandas as pd
df = pd.read_csv("data.csv")

2) head()

In [9]:
df.head()

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

3) df.columns

In [10]:
df.columns

Index(['Duration', 'Pulse', 'Maxpulse', 'Calories'], dtype='object')

4) len()

In [11]:
len(df)

169

5) tail()

In [12]:
df.tail()

     Duration  Pulse  Maxpulse  Calories
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the 
DataFrame with a new index that starts from 1 and increments by 2 for each row?

In [13]:
import pandas as pd

data = {'A': [3,4,5,6,7],
        'B': [5,6,7,8,9],
        'C': [9,10,11,12,13]}
df = pd.DataFrame(data)
df
# len(df)

5

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that 
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The 
function should print the sum to the console?

For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should 
calculate and print the sum of the first three values, which is 60

In [1]:
import pandas as pd

data = {'Values': [10,20,30,40,50,60]}
df = pd.DataFrame(data)
Values_sum = df.iloc[0:3,[0]].sum()
Values_sum

Values    60
dtype: int64

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 
'Word_Count' that contains the number of words in each row of the 'Text' column?

In [2]:
import pandas as pd

data = {'Text': ['My name is manisha negi', 'learning data science', 'watching PW tutorials', 'This is pandas class']}
df = pd.DataFrame(data)
df['Word_Count'] = df['Text'].apply(lambda x: len(x.split()))
df

                      Text  Word_Count
0  My name is manisha negi           5
1    learning data science           3
2    watching PW tutorials           3
3     This is pandas class           4

Q5. How are DataFrame.size() and DataFrame.shape() different?

DataFrame.size(): Size of a dataframe is the number of fields in the dataframe which is nothing but number of rows * number of columns.

DataFrame.shape(): Shape of a dataframe gets the number of rows and number of columns of the dataframe.

Q6. Which function of pandas do we use to read an excel file?

read_excel() function is used to read an excel file.

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email 
addresses in the format 'username@domain.com'. Write a Python function that creates a new column 
'Username' in df that contains only the username part of each email address.

The username is the part of the email address that appears before the '@' symbol. For example, if the 
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your 
function should extract the username from each email address and store it in the new 'Username' 
column.

In [3]:
import pandas as pd

data = {'Email' : ['username@domain.com', 'manishanegi@gmail.com', 'john.doe@example.com', 'negimanisha@gmail.com']}
df = pd.DataFrame(data)
df['Username'] = df['Email'].apply(lambda x: x.split("@")[0])
df

                   Email     Username
0    username@domain.com     username
1  manishanegi@gmail.com  manishanegi
2   john.doe@example.com     john.doe
3  negimanisha@gmail.com  negimanisha

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects 
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The 
function should return a new DataFrame that contains only the selected rows?

In [10]:
import pandas as pd

data = {'A' : [3,8,6,2,9],
        'B': [5,2,9,3,1],
        'C': [1,7,4,5,2]}
df = pd.DataFrame(data)
new_dataframe = (df.A>5) & (df.B<10)
df[new_dataframe]

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, 
median, and standard deviation of the values in the 'Values' column?

In [4]:
import pandas as pd

data = {'Values': [10,20,30,50,50,60,70]}
df = pd.DataFrame(data)
mean = df['Values'].mean()
print(mean)
median = df['Values'].median()
print(median)
mode = df['Values'].mode()
print(mode)

41.42857142857143
50.0
0    50
dtype: int64

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to 
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days 
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and 
should include the current day?

In [16]:
import pandas as pd
from datetime import date

data = {'Sales': [4000,2000,5000,500,1000,700,800,1200,3000,4500]}
data['Date'] = pd.date_range(start = '2023-02-24', end='2023-03-05')

df = pd.DataFrame(data)
df1 = df['Sales'].rolling(window=7).mean()
df1

0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
5            NaN
6    2000.000000
7    1600.000000
8    1742.857143
9    1671.428571
Name: Sales, dtype: float64

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new 
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g. 
Monday, Tuesday) corresponding to each date in the 'Date' column?

In [22]:
import pandas as pd
data = {'Date': ['2023-01-01', '2023-01-02','2023-01-03','2023-01-04','2023-01-05']}
df = pd.DataFrame(data)
df['updated_date']  = pd.to_datetime(df['Date'])
df['Weekday'] = df['updated_date'].dt.day_name()
df

         Date updated_date    Weekday
0  2023-01-01   2023-01-01     Sunday
1  2023-01-02   2023-01-02     Monday
2  2023-01-03   2023-01-03    Tuesday
3  2023-01-04   2023-01-04  Wednesday
4  2023-01-05   2023-01-05   Thursday

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python 
function to select all rows where the date is between '2023-01-01' and '2023-01-31'

In [19]:
import pandas as pd
from datetime import date

df = pd.DataFrame({'Date':pd.date_range(start = '2023-01-01',  freq='18h', periods=50)})

df1 = df[(df['Date'] >= '2023-01-01') & (df['Date'] <= '2023-01-31')]
df1

                  Date
0  2023-01-01 00:00:00
1  2023-01-01 18:00:00
2  2023-01-02 12:00:00
3  2023-01-03 06:00:00
4  2023-01-04 00:00:00
5  2023-01-04 18:00:00
6  2023-01-05 12:00:00
7  2023-01-06 06:00:00
8  2023-01-07 00:00:00
9  2023-01-07 18:00:00
10 2023-01-08 12:00:00
11 2023-01-09 06:00:00
12 2023-01-10 00:00:00
13 2023-01-10 18:00:00
14 2023-01-11 12:00:00
15 2023-01-12 06:00:00
16 2023-01-13 00:00:00
17 2023-01-13 18:00:00
18 2023-01-14 12:00:00
19 2023-01-15 06:00:00
20 2023-01-16 00:00:00
21 2023-01-16 18:00:00
22 2023-01-17 12:00:00
23 2023-01-18 06:00:00
24 2023-01-19 00:00:00
25 2023-01-19 18:00:00
26 2023-01-20 12:00:00
27 2023-01-21 06:00:00
28 2023-01-22 00:00:00
29 2023-01-22 18:00:00
30 2023-01-23 12:00:00
31 2023-01-24 06:00:00
32 2023-01-25 00:00:00
33 2023-01-25 18:00:00
34 2023-01-26 12:00:00
35 2023-01-27 06:00:00
36 2023-01-28 00:00:00
37 2023-01-28 18:00:00
38 2023-01-29 12:00:00
39 2023-01-30 06:00:00
40 2023-01-31 00:00:00

Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to 
be imported?

The first and foremost necessary library that needs to be imported is 'pandas' for use the basic functions of pandas.